.Promocao{
    position: absolute;
    width: 100%;
    height: 750px;
    background-size: cover;
    background-image: url("../img/fundo_promocao.png");
    background-repeat: no-repeat;
    z-index: 100;
}
img{
    width: 100%;
    height: 100px;
    background-size: cover;
}